/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,dd,dl,input{
	margin:0;
	padding:0;
	font-weight:normal;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:1;
}
a{
	text-decoration:none;
	color:inherit;
	*color:#000;
}
a:focus{
	outline:none;
	}
ul,ol,li{
	list-style:none;
	margin:0;
	padding:0;	
}
b,strong{
	font-weight:normal;	
}
i,em{
	font-style:normal;	
}
mark{
	background:none;
	color:inherit;	
}
img{
	vertical-align:middle;
	padding:0;
	margin:0;
	border:0;
}
input,fieldset,textarea,select,option{
	padding:0;
	border:0;
	margin:0;
	background:none;
	vertical-align:top;
	outline:none;
}
